body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1e1e1e;
    color: #ffffff;
}

.countdown {
    text-align: center;
}

#timer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    justify-items: center;
}

.time-section {
    background: #333;
    border-radius: 10px;
    padding: 20px;
    width: 120px;
}

.time-section span {
    display: block;
    font-size: 2.5em;
    font-weight: bold;
}

.label {
    font-size: 1em;
    color: #ccc;
}

#ldks-info {
    margin-top: 40px; /* Jarak antara info dan grid timer */
    background: #333;
    border-radius: 10px;
    padding: 20px;
    width: 120px;
    margin: 20px auto; /* Menambahkan margin bawah untuk lebih banyak ruang */
}

#ldks-info span {
    font-size: 2.5em;
    font-weight: bold; /* Menjadikan teks info tebal */
}

#ldks-info .label {
    font-size: 1em;
    color: #ccc;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}